<header class="header" id="header">
   <nav class="navbar container-xxl">

   <a style="font-size: 30px;" href="google.com">
      <span><i class="bx bx-cycling text-primary"></i></span>
      SUPERBIKES
   </a>

      <div class="burger" id="burger">
         <span class="burger-line"></span>
         <span class="burger-line"></span>
         <span class="burger-line"></span>
      </div>
      <span class="overlay"></span>
      <div class="menu" id="menu">
      
         <ul class="menu-inner">
            {% for link in linklists.custom-menu.links %}
            <li class="menu-item">   <a class="menu-link" href="{{ link.url }}">{{ link.title }}</a></li>
         {% endfor %}
         
         </ul>
      </div>
      <span><i class="bx bx-search search-toggle text-primary"></i></span>
      <span><i class="bx bx-cart search-toggle text-primary"></i></span>
      <div class="search-block">
         <form class="search-form">       
            <span><i class="bx bx-arrow-back search-cancel text-primary"></i></span>
            <input type="search" name="search" class="search-input" placeholder="Search here...">
         </form>
      </div>
   </nav>
</header>