@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.hero {
  h1 {
    font-size: 12vh;
    color: white;
    padding-bottom: 2vh;
    font-family: 'Staatliches', cursive;
    padding: 0;
    margin: 0;

    span {
      padding: 0px 20px;
      background-color: #0d6efd;
    }
  }

  h2 {
    font-size: 8vh;
    color: #0d6efd;
    font-family: 'Lato', sans-serif;
    font-style: italic;

    span {
      padding: 0px 20px 0px;
      background-color: white;
    }
  }

  .btn {
    font-family: 'Staatliches', cursive;
    font-size: 24px;
  }
}

.hero-image {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding: 10vh 0vh;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
