<div class="container-xxl">
 <h1 class="text-dark text-center my-5">
  NEWS
 </h1>
  <div class="row g-5 text-center my-5">
    {% for article in blogs.news.articles %}
      <div class="col-3">
        <div class="card henlo">
          <img class="img-fluid" src="{{ article.image | img_url: "2000x"}}">
          <div class="card-body">
            <h5 class="card-title text-center">{{ article.title }}</h5>published_at
            <p class="card-text">{{ article.excerpt  }}</p>
            <a href="{{ article.url }}" class="btn btn-dark">Read Article</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

