<form action="{{ routes.cart_url }}" method="post">

  <div class="container-xxl">
    <h1 class="mt-5 mb-2 blue-light">Cart ({{ cart.item_count }})</h1>
      
      {% if cart.empty? %}
        <h2 class="text-primary">Sorry your cart is empty</h2>
      {% else %}

        <div class="row d-flex text-center align-items-start">
          <div class="col-7">

        {% for item in cart.items %}
          {% render 'cart-item', item: item %}
        {% endfor %}

        </div>
        <div class="col-5 px-5">
          <div class="p-4  grey-light rounded-2 checkout-card">
            <div class="d-flex flex-row justify-content-between mb-3">
              <h3 class="grey-dark fs-5 mb-0 " >Subtotal </h3>
              <h3 class="grey-dark fs-5 mb-0 " >{{ cart.total_price | money }}</h3>
            </div>
            
          <div class="btn btn-primary font-regular w-100">
            CHECKOUT
          </div>
          </div>
        </div>
        </div>

    {% endif %}

  </div>
</form>
