{{ 'hero.css' | asset_url | stylesheet_tag }}
<div class="hero container-fluid" id="overlay">
  <h1><span>SUPERBIKES</span></h1>
  <h2><span>ONE BIKE FOREVER</span></h2>
  <div class="btn btn-primary">GO TO SHOP</div>
</div>

<div class="container-xxl my-5">

  {%  paginate collections.bicycle.products by 8 %}  
  <div class="row g-3">
    {% for product in collections.bicycle.products %}
   {% render 'product-item', product: product %}
    {% endfor %}

  </div>
  {% render 'pagination', paginate: paginate %}
{% endpaginate %}
</div> 