<div class="container-xxl">
  <div class="row g-3">
    <h1 class="mt-5 mb-2">{{ collections.jewellery.title }}</h1>
    {% for product in collections.jewellery.products %}
   {% render 'product-item', product: product %}
    {% endfor %}

  </div>

</div> 