<div class="container-xxl mb-5 py-5">

  {%  paginate collections.jewellery.products by 8 %}  
  <div class="row g-3">
    <h1 class="mt-5 mb-2">{{ collections.jewellery.title }}</h1>
    {% for product in collections.jewellery.products %}
   {% render 'product-item', product: product %}
    {% endfor %}

  </div>
  {% render 'pagination', paginate: paginate %}
{% endpaginate %}
</div> 