{{ 'hero.css' | asset_url | stylesheet_tag }}
{% comment %}


{% endcomment %}
<div class="container-xxl my-5">
  <div class="row d-flex hero text-center">
    <h1><span>SUPERBIKES</span></h1>
    <div class="col-4">
      <img class="img-fluid hero-image" src="{{ 'hero_bike.webp' | asset_url }}" /> 
    </div>
    <div class="col-8  ">

      <h2 style="color: black;" >ONE BIKE FOREVER</h2>
      <div class="btn btn-primary ">GO TO SHOP</div>

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt similique architecto perferendis quae magnam quia ab est natus non in ea aperiam laborum obcaecati eum magni corporis sint modi blanditiis consequatur sit, enim quaerat veniam fuga minus. Harum culpa neque, impedit omnis assumenda reprehenderit, esse, illo repellendus dicta enim quod.</p>
    </div>
  </div>


  {%  paginate collections.bicycle.products by 8 %}  
  <div class="row g-3">
    {% for product in collections.bicycle.products %}
   {% render 'product-item', product: product %}
    {% endfor %}

  </div>
  {% render 'pagination', paginate: paginate %}
{% endpaginate %}
</div> 