{{ 'hero.css' | asset_url | stylesheet_tag }}
{% comment %}


{% endcomment %}

<div class="container-xxl my-5">
  <div class="row">
    <div class="col-4">
      <img class="img-fluid hero-image" src="{{ 'hero_bike.tiff' | asset_url }}" /> 
    </div>
    <div class="col-2 d-flex flex-column">
      <h2 class="rotate">ONE BIKE FOREVER</h2>
    </div>
    <div class="col-6 hero ">
      <h1><span>SUPERBIKES</span></h1>
      <div class="btn btn-primary">GO TO SHOP</div>
    </div>
  </div>


  {%  paginate collections.bicycle.products by 8 %}  
  <div class="row g-3">
    {% for product in collections.bicycle.products %}
   {% render 'product-item', product: product %}
    {% endfor %}

  </div>
  {% render 'pagination', paginate: paginate %}
{% endpaginate %}
</div> 